{% extends 'main.html' %}
{% load static %}


{% block content %}



{% if messages %}

    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                {{ message }}
            {% endif %}
        {% endfor %}
    </div>

{% endif %}







<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>

<div class="container rounded">

    <div class="row">
        <div class="col">
            <h1 class="text-center" style="color: #0F75BC; font-weight: 900; font-size: 50px;"> Emma the Whale </h1>
            <h5 class="text-center" style="color: #0F75BC;"> Premium Membership </h5>
        </div>
    </div>

     <!-- Error Message -->
     {% if form.errors %}
     <div class="d-flex justify-content-center">
         <div class="alert alert-danger alert-dismissible fade show" role="alert" style="list-style: none;">
             {{form.errors}}
         </div>
     </div>
    {% endif %}

    <div class="row">
        <!-- Left side  -->
        <div class="col-6 p-5" style="background-color:white; border-radius: 30px;">
            
        
            <div class="row">
                <div class="col d-flex justify-content-center mt-5">
                    <a id = "characterCard"  href="{% url 'registerWhale' %}"> <img class = "shadow-lg" src="{% static 'images/buddy-pictures/whale.png' %}" alt="whale" style="width: 300px; height: 300px; border-radius: 30px;"> </a>
                </div>
            </div>
        </div>

        <!-- Right side -->
        <div class="col-6 p-5">
            <form method="POST" action"" style="background-color: #0F75BC; border-radius: 30px;" class="p-5">
                <h5 class="text-center text-white p-2 rounded shadow-lg" style="background-color: #ffffff20;"> Sign up for an account </h5>
                {% csrf_token %}
                <div class="form-group p-2">
                    <label for="{{form.username.id_for_label}}" style="color: white; font-weight: 500;">Create a username:</label>
                    <input type="text" name="{{form.username.name}}" style="height: 50px;" class="form-control" id="{{form.username.id_for_label}}" placeholder="Username">
                </div>
                <div class="form-groupc p-2">
                    <label for="{{form.password1.id_for_label}}" style="color: white; font-weight: 500;"> Create a password:</label>
                    <input type="password" name="{{form.password1.name}}" style="height: 50px;" class="form-control" id="{{form.password1.id_for_label}}" placeholder="Password">
                </div>
                <div class="form-group p-2">
                    <label for="{{form.password2.id_for_label}}" style="color: white; font-weight: 500;">Confirm Password:</label>
                    <input type="password" name="{{form.password2.name}}" style="height: 50px;" class="form-control" id="{{form.password2.id_for_label}}" placeholder="Confirm Password">
                </div> 
                <div class="form-group p-2">
                    <label for="registration_code" style="color: white; font-weight: 500;">Registration Code:</label>
                    <input type="text" name="registration_code" style="height: 50px;" class="form-control" id="registration_code" placeholder="Enter code">
                </div>   

                <div class="p-2 d-flex justify-content-center">
                    <button id="createUserButton" type="submit" class="btn px-5 py-2" style="background-color: white; color: #0F75BC; font-weight: 500;">Create User</button>
                </div> 

            </form>
            
        </div>
    </div>




    


</div>

<style>
    #createUserButton:hover {
        background-color: #ffffff20 !important;
        color: white !important;
    }

    body {
    /* background: linear-gradient(#ffffff, #0F75BC) !important; */
    background-image: url('/static/images/background-images/background1.png');
    background-size: cover;
    background-repeat: no-repeat;

    }

</style>


 



{% endblock %}