{% extends 'main.html' %}
{% load static %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <p> </p>
        </div>
    </div>
</div>

<!-- For messages -->
<div class="container" style="margin-top: 150px;">
  <div class="row">
    <div class="col">
      <h2 class="text-center" style="color: #0F75BC;"> Register  </h2>
      {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            {{ message }}
          </div>
        {% endif %}
        {% if message.tags == 'error' %}
          <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-6 d-flex justify-content-end">
            <a id = "characterCard"  href="#"> <img class = "shadow-lg" src="{% static 'images/buddy-pictures/seal.png' %}" alt="dolphin" style="width: 300px; height: 300px; border-radius: 30px;"> </a>
        </div>
        <div class="col-6 d-flex justify-content-start">
          <form method="post">
            <div class="form-group p-2">
              <label for="registration_code" style="color: white; font-weight: 500;">Registration Code:</label>
              <input id = "bubble" type="text" name="registration_code" style="height: 40px;" class="form-control" id="registration_code" placeholder="Enter code">
          </div>  
            <div  class="p-2 d-flex justify-content-center">
              <button  type="submit" class="btn px-5 py-2" style="background-color: #0F75BC; color: white ; font-weight: 500;">Register</button>
          </div> 
          </form>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="container" style="height: 500px;">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>







{% endblock %}


