{% extends 'main.html' %}
{% load static %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

<!-- <div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col">
            <h1> test </h1>
            <img src="{{ user.profile.profile_picture.url }}" style="border-radius: 30px; width: 100px; height: 100px; margin-top: 5px; border-style: solid; text-decoration: none; border-color: #0F75BC;">
            <h1>{{ user.username }}</h1>
            <p> {{ user.profile.bio }} </p>
        </div>
    </div>
</div> -->

<div class="container rounded shadow-lg py-2" style="margin-top: 150px;  background-color: #0f74bc;">
    <!-- Top -->
    <div class="row">
        <div class="col-2">
            <!-- profile pciture -->
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img id="profileButton" src="{{ user.profile.profile_picture.url }}" style="border-radius: 75px; width: 150px; height: 150px; margin-top: 5px; border-style: solid; ">
                </div>
            </div>
            <!-- badge -->
            

        </div>
        <div class="col-10 my-3">
            <!-- Name -->
            <div class="row">
                <div class="col-12 mx-1">
                    <h1 class="text-white" style="font-size: 50px; font-weight: 700;"> {{ user.profile.firstName }}  {{ user.profile.lastName }} </h1>
                </div>
            </div>
            <!-- Username -->
            <div class="row">
                <div class="col-12 mx-1">
                    <h5 class="text-white"> @{{ user.username }} </h5>
                </div>
            </div>
            <!-- Bio -->
            <div class="row mt-2">
                <div class="col-4">
                  
                        <div class="border border-dark" style="border-radius: 20px; background-color: white; height: fit-content;">
                            <p class="mx-2 py-2"> {{ user.profile.bio }} </p>
                        </div>
                    
                    
                </div>
            </div>
        </div>
    </div>


    <!-- Bottom -->
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <!-- Button -->
        </div>
    </div>
</div>



{% endblock %}




