{% extends 'main.html' %}
{% load static %}

{% block content %}


<style>
    body {
        /* background: linear-gradient(#ffffff, #0F75BC) !important; */
        background-image: url('/static/images/background-images/background2.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    /* Used for smaller screens */
    @media (max-width: 575.98px) {
        #Maincontainer {
            width: 370px !important;
        }

      
        #postCard {
            width: 560px !important;
            height:auto !important;
            border-radius: 10px !important;
        }

        #postCard p {
            font-size: 12px !important;
            
        }

        #postCard img {
            width: 40px !important;
            height: 40px !important;
        }

        #postCard .card-body {
            height: 40px !important;
        }

        #postCard .card-footer {
            height: 30px !important;
        }

        #rightBar {
            display: none !important;
        }
        #leftBar {
            display: none !important;
        }
        
    }
</style>

<!-- This container is for the navbar -->
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

<!-- Width for this container is 800px -->

<div class="container-fluid" style="margin-top: 120px;">
    
    <div class="row">

        <!-- for left bar -->
        <div id="leftBar" class="col-2">

        </div>


        <!-- Middle Content -->
        <div class="col-8 ">
            <div class="mx-5">
                {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                </div>
              {% endif %}
              {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
            {% endif %}

            </div>
            

            

            <div id="Maincontainer" class="container rounded shadow-lg px-5 py-4  " style=" width: 800px;">
                <div class="row">
                    <div id="banner" class="col d-flex justify-content-center">
                        <div  style="width: 700px; border-radius: 30px; background-image: url('/static/images/background-images/background2.jpeg');
                        background-size: cover;
                        background-repeat: no-repeat;">
                            <!-- Banner Picture  -->
                            <div class="d-flex justify-content-center">
                                <img src="{% static 'images/logos/logo2.png' %}" style="width: 230px; height: 200px;">
                            </div>
                        </div>
                    </div> 
                </div> 
                <div class="row d-flex justify-content-center py-2 " >
                    {% with sliced_buddies=buddies|slice:":5" %}
                        {% for buddy in sliced_buddies %}
                            <div class="col-12 col-sm-2 ">
                                {% if buddy.picture %}
                                    <a href="#">
                                        <img id="profileButton" src="{{ buddy.picture.url }}" style="border-radius: 50px; width: 80px; height: 80px; margin-top: 5px; border-style: solid; border-color: #0F75BC;">
                                    </a>
                                {% else %}
                                    <div style="border-radius: 50%; width: 80px; height: 80px; margin-top: 5px; border-style: solid; border-color: #0F75BC; display: flex; justify-content: center; align-items: center;">
                                        <a href="{% url 'regAnotherBuddy' %}">
                                            <i class="fa-solid fa-plus" style="font-size: 30px; color: #0F75BC;"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endwith %}
                    {% if buddies|length < 5 %}
                    <div class="col-12 col-sm-2">
                        <a href="{% url 'regAnotherBuddy' %}" id = "addButton">
                            <div style="border-radius: 50%; width: 80px; height: 80px; margin-top: 5px; border-style: solid; border-color: #0f74bcbb; display: flex; justify-content: center; align-items: center;">
                                <i class="fa-solid fa-plus" style="font-size: 30px; color: #0f74bcc0; font-weight: 300;"></i>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                </div>
                

                


                <hr>

                

              
                <!-- Make a Post -->
                <div class="row  mt-3 ">
                    <div class="col-12 d-flex justify-content-center ">
                        <!-- Make post card  -->
                        <div class="card border border-primary shadow-lg " style="border-radius: 15px; width: 600px; ">
                            <div class="card-body">
                                <form method="POST" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group p-1" style="display: flex; align-items: center;">
                                        <img src="{{ user.profile.profile_picture.url }}" style="border-radius: 30px; width: 40px; height: 40px; border-style: solid; text-decoration: none; border-color: #0F75BC; margin-right: 10px;">
                                        <input type="text" name="{{form.postBody.name}}" style="height: 40px; flex-grow: 1;" class="form-control" id="{{form.postBody.id_for_label}}" placeholder="What's on your mind {{ user.profile.firstName }}?">
                                    </div>    
                                </form>
                            </div>
                        </div>
                    </div> 
                </div> 
            
                <!-- List of Posts: -->
                <div class="row  ">
                    <div class="col d-flex justify-content-center flex-wrap " style="margin-bottom: 1000px;">
                        {% for post in posts %}
                        <!-- Card Header -->
                        <div id="postCard" class="card shadow-lg mt-3 border border-secondary " style="background-color: rgba(255, 255, 255, 0.836); border-radius: 15px; width: 600px;  ">
                            <div class="card-header">
                                <div class="row">
                                    <!-- Left Side -->
                                    <div class="col-6">
                                        <img src="{{ post.user.profile.profile_picture.url }}" style="border-radius: 30px; width: 40px; height: 40px; margin-top: 5px; border-style: solid; text-decoration: none; border-color: #0F75BC;">
                                        <p style="font-weight: 700; display: inline; color: #0F75BC;">{{ post.user }}</p>
                                    </div>
                                    <!-- Right Side -->
                                    <div class="col-6">
                                        {% if post.user == request.user %}
                                        <!-- Delete Button -->
                                        <form method="POST" action="{% url 'delete_post' post.pk %}">
                                        {% csrf_token %}
                                            <div class = "d-flex justify-content-end">
                                                <button type="submit" class="btn"><i class="fa-solid fa-delete-left"></i></button>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <p>{{ post.postBody }}</p>
                            </div>
                            <!-- Card Footer -->
                            <div class="card-footer text-muted" style="height: 38px;">
                                <p style="font-size: 12px;">Posted on: {{ post.date|date:"M j, Y g:iA" }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                
            </div> <!-- End of container -->

        </div>


        <!-- Right Bar -->
        <div id="rightBar" class="col-2 rounded shadow-lg">
            
            
            
            <div class="d-flex justify-content-center">
                <div class="card shadow-lg border border-primary" style="width: 15rem; margin-top: 25px; border-radius: 30px;">
                    <img src="{% static 'images/site-pictures/game1thumbnail.png' %}" style=" border-top-left-radius: 30px; border-top-right-radius: 30px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a class="d-flex justify-content-center btn" style="background-color: #0F75BC; color: white; " href="{% url 'gamePage' %}">Play Now</a>
                    </div>
                </div>
            </div>

            <hr>

        
            <div class="d-flex justify-content-center">
                <div class="card shadow-lg border border-primary" style="width: 15rem; margin-top: 25px; border-radius: 30px;">
                    <img src="{% static 'images/site-pictures/game1thumbnail.png' %}" style=" border-top-left-radius: 30px; border-top-right-radius: 30px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a class="d-flex justify-content-center btn" style="background-color: #0F75BC; color: white; " href="{% url 'gamePage' %}">Play Now</a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex justify-content-center">
                <div class="card shadow-lg border border-primary" style="width: 15rem; margin-top: 25px; border-radius: 30px;">
                    <img src="{% static 'images/site-pictures/game1thumbnail.png' %}" style=" border-top-left-radius: 30px; border-top-right-radius: 30px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a class="d-flex justify-content-center btn" style="background-color: #0F75BC; color: white; " href="{% url 'gamePage' %}">Play Now</a>
                    </div>
                </div>
            </div>

            <hr>

            <div class="d-flex justify-content-center">
                <div class="card shadow-lg border border-primary" style="width: 15rem; margin-top: 25px; border-radius: 30px;">
                    <img src="{% static 'images/site-pictures/game1thumbnail.png' %}" style=" border-top-left-radius: 30px; border-top-right-radius: 30px;" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a class="d-flex justify-content-center btn" style="background-color: #0F75BC; color: white; " href="{% url 'gamePage' %}">Play Now</a>
                    </div>
                </div>
            </div>

            <hr>
           

        </div>
    </div>
</div>









{% endblock %}




