{% extends 'main.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}

<style>
    body {
        background-color: #0f74bc !important;
    }
</style>

<div class="container ">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

<div class="container bg-white" style="margin-top: 200px; width: 800px;">
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="font-weight: 700; color:#0f74bc;"> Shore Buddy Episodes </h1>

        </div>
    </div>

    
    <div class="row d-flex  justify-content-center">
    {% for item in videos %}
        <div class="col d-flex  justify-content-center m-2">
            <div class="d-flex justify-content-center shadow-lg rounded">
                {% video item.url '300x200' %}
            </div>
            
        </div>
    {% endfor %}
</div>


<!-- Footer -->
<div class="container mt-5 " style="height: 200px;">
    <div class="row">
        <div class="col">
            

        </div>
    </div>
</div>




{% endblock %}




