{% extends 'main.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}

<div class="container ">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col">
            <h1 class="text-center"> Latest Shore buddies episodes </h1>

        </div>
    </div>

    
    <div class="row d-flex  justify-content-center">
    {% for item in videos %}
        <div class="col d-flex  justify-content-center m-2">
            <div class="d-flex justify-content-center">
                {% video item.url '426x240' %}
            </div>
            
        </div>
        
    {% endfor %}
</div>


<!-- Footer -->
<div class="container mt-5 bg-danger" style="height: 1000px;">
    <div class="row">
        <div class="col">
            

        </div>
    </div>
</div>




{% endblock %}




