{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ocean Activist Portal </title>

    <!-- Links -->

    <!-- CSS link  -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Game link -->
    



    <!-- Icon link -->

    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


    <!-- Font link  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Icon link  -->
    <script src="https://kit.fontawesome.com/c9f66bf3cc.js" crossorigin="anonymous"></script>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    

    
</head>




<body>

    {% if not request.user.is_authenticated %}
    {% include 'navBar1.html' %}
{% endif %}

{% if request.user.is_authenticated %}
    {% include 'navBar2.html' %}

    {% if request.resolver_match.url_name == 'portalPage' or request.resolver_match.url_name == 'gamePage' %}
        {% include 'navBar3.html' %}
    {% endif %}
{% endif %}


    {% block content %}

         <!-- Child html files sit here  -->

    {% endblock %}



    <!-- Bootstrap link  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

 
    
</body>
</html>